.button{
    -fx-pref-width: 160;
        -fx-pref-height: 20;
        -fx-background-color: #292826;
        -fx-text-fill: #F9D342;
        -fx-font-size: 18;
}
.background{
    -fx-background-color: #ffffff;
    -fx-border-color: #292826;
    -fx-border-width: 0 4 4 0;
}

.button:hover{
    -fx-background-color: #F9D342;
    -fx-text-fill: #292826;
    -fx-cursor: hand;
}

.optionBackground{
    -fx-background-color: #F9D342;
    -fx-border-color: #292826;
    -fx-border-width: 0 4 4 4;
}

.optionLabel, welcomeLabel{
    -fx-background-color: #292826;
    -fx-text-fill: #F9D342;
    -fx-font-size: 15;
    -fx-pref-width:150;
}

.welcomeLabel{
    -fx-pref-width: 450;
    -fx-pref-height: 50;
    -fx-background-color: #292826;
    -fx-text-fill: #F9D342;
    -fx-font-size: 15;
}

.creatorsLabel{
    -fx-pref-width: 600;
    -fx-pref-height: 150;
    -fx-background-color: #292826;
    -fx-text-fill: #F9D342;
    -fx-font-size: 18;
}

.optionButton:hover{
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}
.table-view .column-header .label{
    -fx-font-size: 14;
    -fx-text-fill: #292826;
}
.table-view .column-header{
    -fx-background-color: #F9D342;
}
.table-view .filler{
    -fx-background-color: #F9D342;
    -fx-text-fill: #292826;
}

.tab-pane .tab-header-background{
    -fx-background-color: #F9D342;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #FFFFFF;
    -fx-border-style: solid;
}

.tab-pane .tab-label{
    -fx-text-fill: #F9D342;
}

.tab-pane .tab{
    -fx-background-color: #292826;
}

.tab-pane .tab:selected{
    -fx-background-color: #FFFFFF;
}

.tab-pane .tab:selected .tab-label{
    -fx-text-fill: #292826;
}

.chart-pie {
    -fx-cursor: hand;
}

.chartLabel {
    -fx-background-color: #F9D342;
    -fx-text-fill: #292826;
    -fx-font-size: 13;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}